.mobile_menu_overlay,
.mobile_menu_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.mob-menu-logo{
    display: flex;
    align-items: center;
    padding: 20px;
}

.mobile_menu_container,
.mobile_menu_container ul li ul {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms
}

.mobile_menu_overlay {
    display: none;
    cursor: pointer;
    z-index: 10200;
    background: rgba(0, 0, 0, 0.5)
}

.mobile_menu_container {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    width: 300px;
    overflow: hidden;
    z-index: 10201;
    background: #fff;
}

.mobile_menu_container.loaded {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
}

.mobile_menu_container .mobile_menu_content {
    overflow: auto;
    max-height: 100%;
    padding-bottom: 30px
}

.mobile_menu_container ul {
    margin: 0;
    padding: 0
}

.mobile_menu_container ul li {
    list-style: none;
}

.mobile_menu_container ul li a {
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    font-size: 14.5px;
    background: #fff;
    color: #000;
    text-decoration: none !important;
    font-weight: bold
}

.mobile-menu-link_enabled {
    text-decoration: underline;
}

.mobile_menu_container ul li a.parent {
    padding-right: 50px;
    background: #fff url("../img/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px
}

.mobile_menu_container ul li a.parent:hover {
    background: #e3e3e3 url("../img/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px
}

.mobile_menu_container ul li a.back {
    padding-left: 50px;
    background: #fff url("../img/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
    box-sizing: border-box;
    min-height: 50px
}

.mobile_menu_container ul li a.back:hover {
    background: #e3e3e3 url("../img/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px
}

.mobile_menu_container ul li a:hover {
    background: #e3e3e3;
}

.mobile_menu_container ul li a:active {
    background: #f4f4f4;
}

.mobile_menu_container ul li ul {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2
}

.mobile_menu_container ul li ul.loaded {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
}

.mobile_menu_container ul li ul.activity {
    overflow-y: auto;
    overflow-x: hidden
}

@media (max-width: 375px) {
    .mobile_menu_container {
        width: 240px
    }
}